<!doctype html>
<html>
!(load ../parts/head domains)

<body>
    !(load ../parts/navigation)
    <h1>New Domain</h1>
    !(load ../parts/error $error)
    <form action="/app-platform/domains/new" method="post">
        <label for="domain">Enter Domain Name (Or Subdomain)</label>
        <input id='domain' name="domain" type="text" placeholder="Enter Domain" value="!(body.domain)">

        <div style="height: 8px;"></div>
        <input id="https" name="https" type="checkbox" />
        <label for="https">Enable HTTPS</label>
        <div style="height: 8px;"></div>

        <label for="email">Your Email (Used for letencrypt certificate generation)</label>
        <input id='email' name='email' type='email' value="!(body.email)" />

        <div class="divider"></div>
        <button class="primary" type="submit">Submit</button>
    </form>
    <a href="/app-platform/domains"><button>Cancel</button></a>

</body>

</html>